/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

$login-gif: 'http://bestanimations.com/Earth&Space/astronaut-animation.gif';
$notfound-gif: 'https://d13yacurqjgara.cloudfront.net/users/497127/screenshots/2309639/404-planet.gif';
$profile-gif: null; //'http://www.themesltd.com/backgrounds/random/moving_through_space.gif';
$signup-gif: 'https://d13yacurqjgara.cloudfront.net/users/165025/screenshots/2922036/spaceships-in-space.gif';
$mainpage-gif: 'https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif';

 .jumbotron {
   background: #1c1c1c;
   color: #fff;
 }

 h2, h3, p {
   font-family: monospace;
 }

.carousel { z-index: -99; } /* keeps this behind all content */
.carousel .item {
    position: fixed;
    width: 100%; height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

    // Enable Blur
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.carousel .mainpage {
    background: url($mainpage-gif);
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .deviselogin {
    background: url($login-gif);
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .devisesignup {
    background: url($signup-gif);
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .profilepage {
  background: url($profile-gif);
  background-size: cover;
  -moz-background-size: cover;
}

.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}

.container > .jumbotron {
  margin-top: 50px;
}

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #7D26CD;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #912CEE;
}

.btn-primary:active, .btn-primary.active {
  background: #8A2BE2;
  box-shadow: none;
}

.btn-primary.raised {
	box-shadow: 0 3px 0 0 #2E0854;
}

.btn-primary.raised:active, .btn-primary.raised.active {
	background: #8A2BE2  ;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}