<%= render 'pages/carouselBackground' %>

<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to Spaceboard.io</h1>
    <p>Interactive Imagery!</p>
    <% if user_signed_in? %>
      <a href="<%= @user.username.downcase %>" class="btn btn-primary btn-lg raised">Go to your profile!</a>
    <% else %>
      <%= link_to "Register Now!", new_user_registration_path, class: "btn btn-primary btn-lg raised" %>
      <%= link_to "Login!", new_user_session_path, class: "btn btn-primary btn-lg raised" %>
    <% end %>
  </div>
</div>
