<%= render 'pages/carouselBackground' %>

<div class="jumbotron text-center">
  <h1><%= @user.username %></h1>
  <div inline-block class="container">
    <h2><span>Likes</span></h2>
    <span><h2>Followers</h2></span>
    <span><h2>Following</h2></span>
  </div>
  <p>Motto Here</p>
</div>

<div class="content-wrapper">
  <div class="jumbotron text-center">

  </div>
</div>

<style>
  .content-wrapper {
    margin-top: -25px;
  }

  .container > * {
    display: inline-block;
  }
</style>
